<!--<div id="nav">-->
<ul>
<li {% if page.toplevel == "I" %}class="active"{% else %}class="close"{% endif %}><a href="{{ site.data.data.I.url }}">{{ site.data.data.I.title }}</a><!--Vides dizains-->
<div class="navBorder"></div>
<ul>
<li {% if page.secondlevel == "I-I" %}class="active"{% else %}class="close"{% endif %}><a href="{{ site.data.data.I-I.url }}">{{ site.data.data.I-I.title }}</a>
<div class="navBorder"></div>
</li>
<li {% if page.secondlevel == "I-II" %}class="active"{% else %}class="close"{% endif %}><a href="{{ site.data.data.I-II.url }}">{{ site.data.data.I-II.title }}</a>
<div class="navBorder"></div>
</li>
<li {% if page.secondlevel == "I-III" %}class="active"{% else %}class="close"{% endif %}><a href="{{ site.data.data.I-III.url }}">{{ site.data.data.I-III.title }}</a>
<div class="navBorder"></div>
</li>
</ul>
</li>

<li {% if page.toplevel == "II" %}class="active"{% else %}class="close"{% endif %}><a href="{{ site.data.data.II.url }}">{{ site.data.data.II.title }}</a><!--Interjera dizains -->
<div class="navBorder"></div>
<ul>
<li {% if page.secondlevel == "II-I" %}class="active"{% else %}class="close"{% endif %}><a href="{{ site.data.data.II-I.url }}">{{ site.data.data.II-I.title }}</a>
<div class="navBorder"></div>
<ul>
{% for page in site.pages.interjera-dizains %}
<li><a href="{{ page.url }}">{{ page.title }}</a></li>
{% endfor %}
</ul>
</li>
<li {% if page.secondlevel == "II-II" %}class="active"{% else %}class="close"{% endif %}><a href="{{ site.data.data.II-II.url }}">{{ site.data.data.II-II.title }}</a>
<div class="navBorder"></div>
</li>
<li {% if page.secondlevel == "II-III" %}class="active"{% else %}class="close"{% endif %}><a href="{{ site.data.data.II-III.url }}">{{ site.data.data.II-III.title }}</a>
<div class="navBorder"></div>
</li>
</ul>
</li>

<li {% if page.toplevel == "III" %}class="active"{% else %}class="close"{% endif %}><a href="{{ site.data.data.III.url }}">Rūpniecības dizains</a><!--Rūpniecības dizains-->
<div class="navBorder"></div>
</li>

<li {% if page.toplevel == "IV" %}class="active"{% else %}class="close"{% endif %}><a href="{{ site.data.data.IV.url }}">{{ site.data.data.IV.title }}</a><!--Grafiskais dizains-->
<div class="navBorder"></div>
<ul>
<li {% if page.secondlevel == "IV-I" %}class="active"{% else %}class="close"{% endif %}><a href="{{ site.data.data.IV-I.url }}">{{ site.data.data.IV-I.title }}</a>
<div class="navBorder"></div>
</li>
<li {% if page.secondlevel == "IV-II" %}class="active"{% else %}class="close"{% endif %}><a href="{{ site.data.data.IV-II.url }}">{{ site.data.data.IV-II.title }}</a>
<div class="navBorder"></div>
</li>
<li {% if page.secondlevel == "IV-III" %}class="active"{% else %}class="close"{% endif %}><a href="{{ site.data.data.IV-III.url }}">{{ site.data.data.IV-III.title }}</a>
<div class="navBorder"></div>
</li>
<li {% if page.secondlevel == "IV-IV" %}class="active"{% else %}class="close"{% endif %}><a href="{{ site.data.data.IV-IV.url }}">{{ site.data.data.IV-IV.title }}</a>
<div class="navBorder"></div>
</li>
</ul>
</li>

<li {% if page.toplevel == "V" %}class="active"{% else %}class="close"{% endif %}><a href="{{ site.data.data.V.url }}">{{ site.data.data.V.title }}</a><!--Komunikāciju dizains-->
<div class="navBorder"></div>
<ul>
<li {% if page.secondlevel == "V-I" %}class="active"{% else %}class="close"{% endif %}><a href="{{ site.data.data.V-I.url }}">{{ site.data.data.V-I.title }}</a>
<div class="navBorder"></div>
</li>
<li {% if page.secondlevel == "V-III" %}class="active"{% else %}class="close"{% endif %}><a href="{{ site.data.data.V-II.url }}">{{ site.data.data.V-II.title }}</a>
<div class="navBorder"></div>
</li>
</ul>
</li>

<li {% if page.toplevel == "VI" %}class="active"{% else %}class="close"{% endif %}><a href="{{ site.data.data.VI.url }}">{{ site.data.data.VI.title }}</a><!--Modes dizains-->
<div class="navBorder"></div>
<ul>
<li {% if page.secondlevel == "VI-I" %}class="active"{% else %}class="close"{% endif %}><a href="{{ site.data.data.VI-I.url }}">{{ site.data.data.VI-I.title }}</a>
<div class="navBorder"></div>
</li>
<li {% if page.secondlevel == "VI-II" %}class="active"{% else %}class="close"{% endif %}><a href="{{ site.data.data.VI-II.url }}">{{ site.data.data.VI-II.title }}</a>
<div class="navBorder"></div>
</li>
<li {% if page.secondlevel == "VI-III" %}class="active"{% else %}class="close"{% endif %}><a href="{{ site.data.data.VI-III.url }}">{{ site.data.data.VI-III.title }}</a>
<div class="navBorder"></div>
</li>
<li {% if page.secondlevel == "VI-IV" %}class="active"{% else %}class="close"{% endif %}><a href="{{ site.data.data.VI-IV.url }}">{{ site.data.data.VI-IV.title }}</a>
<div class="navBorder"></div>
</li>
</ul>
</li>

</ul>
<!--</div>-->
