<ul>
<li><a href="{{ site.data.data.I.url }}">{{ site.data.data.I.title }}</a><!--Vides dizains-->
<ul>
<li><a href="{{ site.data.data.I-I.url }}">{{ site.data.data.I-I.title }}</a>
</li>
<li><a href="{{ site.data.data.I-II.url }}">{{ site.data.data.I-II.title }}</a>
</li>
<li><a href="{{ site.data.data.I-III.url }}">{{ site.data.data.I-III.title }}</a>
</li>
</ul>
</li>

<li><a href="{{ site.data.data.II.url }}">{{ site.data.data.II.title }}</a><!--Interjera dizains -->
<ul>
<li><a href="{{ site.data.data.II-I.url }}">{{ site.data.data.II-I.title }}</a>
</li>
<li><a href="{{ site.data.data.II-II.url }}">{{ site.data.data.II-II.title }}</a>
</li>
<li><a href="{{ site.data.data.II-III.url }}">{{ site.data.data.II-III.title }}</a>
</li>
</ul>
</li>

<li><a href="{{ site.data.data.III.url }}">Rūpniecības dizains</a><!--Rūpniecības dizains-->
</li>

<li><a href="{{ site.data.data.IV.url }}">{{ site.data.data.IV.title }}</a><!--Grafiskais dizains-->
<ul>
<li><a href="{{ site.data.data.IV-I.url }}">{{ site.data.data.IV-I.title }}</a>
</li>
<li><a href="{{ site.data.data.IV-II.url }}">{{ site.data.data.IV-II.title }}</a>
</li>
<li><a href="{{ site.data.data.IV-III.url }}">{{ site.data.data.IV-III.title }}</a>
</li>
<li><a href="{{ site.data.data.IV-IV.url }}">{{ site.data.data.IV-IV.title }}</a>
</li>
</ul>
</li>

<li><a href="{{ site.data.data.V.url }}">{{ site.data.data.V.title }}</a><!--Komunikāciju dizains-->
<ul>
<li><a href="{{ site.data.data.V-I.url }}">{{ site.data.data.V-I.title }}</a>
</li>
<li><a href="{{ site.data.data.V-II.url }}">{{ site.data.data.V-II.title }}</a>
</li>
</ul>
</li>

<li><a href="{{ site.data.data.VI.url }}">{{ site.data.data.VI.title }}</a><!--Modes dizains-->
<ul>
<li><a href="{{ site.data.data.VI-I.url }}">{{ site.data.data.VI-I.title }}</a>
</li>
<li><a href="{{ site.data.data.VI-II.url }}">{{ site.data.data.VI-II.title }}</a>
</li>
<li><a href="{{ site.data.data.VI-III.url }}">{{ site.data.data.VI-III.title }}</a>
</li>
<li><a href="{{ site.data.data.VI-IV.url }}">{{ site.data.data.VI-IV.title }}</a>
</li>
</ul>
</li>

</ul>