/**
Intro
**/

#firstPageWrap {
    width: 100%;
}

#firstPageContentWrap {
    max-width: 1000px;
    @include content-center;
}


//Tēmu bildes
#sixPictures {
margin-top: 5em;
width: 100%;
#sixPic {
width: 100%;
.sixPicImg  img {
max-width: 33%;
z-index: 1;
transition: z-index 0.0625s 0.1075s, transform 0.35s;
}

.sixPicUp {
    display: inline;
}

.sixPicDown {
    display: inline;
}

.sixPicRight img {
}

.sixPicLeft img {
}

.sixPicMiddle img{   
}

.sixPicImg img:hover {
z-index: 2;
transform: scale(1.05);
transition: z-index 0.0625s, transform 0.5s;
}
}

//Poga
#btnIenakt {
text-align: center;
}
}