<!DOCTYPE html>
<html lang="lv">
{% include head.html %}
<body>
<div id="siteWrap">
<div id="contentWrap">
<div id="nav">    
{% include navigation.html %}
</div>
{% include navigationMob.html %}
<div id="content"> 
<div id="contentHeader">
<span>{{ page.title }}</span>
<div style="height: 0px; width: 85%; border-bottom: 1px solid black; margin-right: auto; margin-left: auto; margin-top: 0.4375em;"></div>
</div>
<div id="contentText">
  <br>
  {{ content }}
  <br>
</div>
<div id="contentFooter">
<div style="height: 0px; width: 85%; border-bottom: 1px solid black; margin-right: auto; margin-left: auto; margin-bottom: 0.8em;"></div>
<span style="margin-top: 1em;">KĀJENE</span>
</div>
</div>
</div>


</div>
</body>        
</html>
